<div class="overview" #groups_container>
        <div class="searchInput">
           <a></a>
           <input type="text" name="searchJobs" (focus)="showSearchDialog = true" 
                              [value]="searchJobName" placeholder="Search for jobs"> 
           <div><span>{{dateRangeText}}</span><span>{{statusText}}</span></div>
        </div>
        <form [formGroup]="jobsSearchForm" (ngSubmit)="onSearchSubmit(jobsSearchForm.value)">
            <div class="searchDialog" [hidden]="!showSearchDialog">
                <div class="searchPage">
                    <div class="back" (click)="showSearchDialog = false"></div>
                    <div class= "query">
                         <a class="searchIcon"></a>
                         <input type="text" formControlName="jobName" placeholder="Enter job name"> 
                         <button class="searchButton">Search</button>
                    </div>
                    <div class="filterOptions">filter options</div>
                    <div class="date">
                        <div class="dateLabel">date</div>
                        <div class="timeSpan">
                              <div>·  all time</div>
                              <div>
                              <input  type="radio" value="all time" id="timeSpan" formControlName="timeSpan" name="timeSpan" checked> 
                              <label for="timeSpan"></label>
                              </div>
                              <div>
                              <input  type="date" formControlName="startDate" [disabled]="jobsSearchForm.controls.timeSpan.value == 'all time'">
                              <span>-</span>
                              <input  type="date" formControlName="endDate" [disabled]="jobsSearchForm.controls.timeSpan.value == 'all time'">
                              </div>
                              <div>
                              <input  type="radio" value="limited" id="limtedTime" formControlName="timeSpan" name="timeSpan">
                              <label for="limtedTime"></label>
                              </div>
                        </div>
                    </div>
                    <div class="status">
                        <div class="statusLabel">status</div>
                        <div class="statusOption">
                              <div>. all</div>
                              <div>
                               <input  type="radio" value="all" #allStates id="states" (click)="allCheck()" formControlName="states"> 
                              <label for="states"></label>
                              </div>
                              <div>not started</div>
                              <div>
                              <input type="checkbox" id="notstarted" #notstarted formControlName="notstarted" (click) = "unCheck($event)" checked>
                              <label for="notstarted"></label>
                              </div>
                              <div>running</div> 
                              <div>
                              <input type="checkbox" id="running" #running formControlName="running" (click) = "unCheck($event)" checked>
                              <label for="running"></label>
                              </div>
                              <div> successful</div> 
                              <div>
                              <input type="checkbox" id="successful" #successful formControlName="successful" (click) = "unCheck($event)" checked >
                              <label for="successful"></label>
                              </div>
                              <div> failed </div> 
                              <div>
                              <input type="checkbox" id="faild" formControlName="failed" #failed (click) = "unCheck($event)" checked>
                              <label for="faild"></label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <aethic-accordion>
            <aethic-accordion-group heading="{{group.name + ' (' + group.jobs.length + ')'}}"
                                    *ngFor="let group of searchGroupedJobs | async; let i = index;">
                <div class="instances" >
                    <div class="instance" *ngFor="let runningJob of group.jobs" 
                         routerLink="../detailview" [queryParams]="{jobId: runningJob.id, groupId: group.name}" >
                        <p class="instanceName">{{runningJob.uniqueidentifier}}</p>
                        <overview-chart [slices] ="runningJob.slices"></overview-chart>
                    <p class="timeElapsed">{{runningJob.createdDate}}</p>
                    </div>
                </div>
            </aethic-accordion-group>
        </aethic-accordion>
        <aethic-accordion>
            <aethic-accordion-group heading="Latest jobs">
                <div class="instances" >
                    <div class="instance" *ngFor="let job of jobs | async" 
                         routerLink="../detailview" [queryParams]="{jobId: job.id}" >
                        <p class="instanceName">{{job.uniqueidentifier}}</p>
                        <overview-chart [slices] ="job.slices"></overview-chart>
                    <p class="timeElapsed">{{job.createdDate}}</p>
                    </div>
                </div>
                <div>
                    <input type="hidden" #batch [ngModel]="loadedBatchs | async">
                    <button (click)="onLoadMore(batch.value)" 
                            [hidden]="batch.value === 0" 
                            class="loadMore">Load more</button>
                </div>
            </aethic-accordion-group>
        </aethic-accordion>
</div>
