$color-white: #fff;
$progress-color1: #dde5e9;
$progress-color2: #273142;
$font-consolas:  Consolas;
$bec8d2: #bec8d2;

.panel-heading {
    border-bottom:  1px solid $bec8d2;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:24px;
    width:980px;
    margin-left:auto;
    margin-right:auto;
    .panel-title {
        color: #273142;
        font-family: $font-consolas;
        font-style: italic;
        font-size: 16px;
        height: 24px;
        line-height: 24px;
        margin: 0;
        text-align: left;
        padding-left:10px;
    } 
}

.overview {
  overflow: auto;
  margin-top:105px;
  margin-bottom: 20px;
  width:100%;
  .mainContainer {
      display:flex;
      flex-direction:column;
  }
  .descrption {
    border-bottom:  1px solid $bec8d2;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:24px;
       .groupName {
          color: #273142;
          font-family: $font-consolas;
          font-style: italic;
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          margin: 0;
          text-align: left;
          padding-left:10px;
        } 
        img {
            width:24px;
            height:24px;
        } 
   }
   .searchInput {
       width:980px;
       height:24px;
       margin-top:24px;
       margin-bottom:24px;
       margin-left:auto;
       margin-right:auto;
       a {
           height:24px;
           width:24px;
           display:inline-block;
           background-image:url("../../assets/icons/btn_search_dark_normal.png");
       }
       input {
           height:24px;
           color:black;
           font-size:18px;
           height:24px;
           font-family:Consolas;
           font-style:Italic;
           outline:none;
           border:0px;
           vertical-align:top;
       }
       div {
           margin-left:28px;
           font-family:Consolas;
           font-style:Italic;
           font-size:13px;
           color:#BEC8D2;
       }
   }
   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: black;
   }
   :-ms-input-placeholder { /* IE 10+ */
   color: black;
   }

}

.instances {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 948px;
  
  .instance { 
    position:  relative;
    height: 180px;
    width: 164px;
    margin-bottom: 24px;
    margin-right: 8px;
    margin-left: 8px;
    background-color:  #EBF0F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0px 1px rgba(0, 0, 0, 0.5);
    
    .instanceName {
      border: none;
      text-align: center;
      word-wrap: break-word;
      color: #273142;
      padding: 0;
      height:  15px;
      width: 144px;
      margin:  {
        top: 5px;
        bottom: 20px;
        right: 10px;
        left: 10px;
      }
      font:  {
        size: 13px;
        style: normal;
        family: $font-consolas;
      }
    }
    
    .chart {
      align-items:  center;
      display:  flex;
      justify-content:  center;
      height:  100px;
      position:  relative;
      width:  100px;
  
      svg {
        height:  100px;
        left:  0;
        position:  absolute;
        transform:  rotate(-90deg);
        top:  0;
        width:  100px;
      }
  
      .percentage {
        color:  #273142;
        font:  {
          family:  $font-consolas;
          size:  24px;
          style:  italic;
        }
        margin:  0;
        padding:  0;
  
        > span {
          font:  {
            family:  $font-consolas;
            size:  13px;
            style:  italic;
          }
        }
      }
    }
    
    .timeElapsed {
      color: $bec8d2;
      font-family: Consolas;
      font-size: 13px;
      font-style: Italic;
    }
  }

}

.loadMore {
    width:110px;
    height:24px;
    border-radius:2px;
    background-color:#00C9FF;
    font-family:'Nokia Pure Text Regular';
    font-size:13px;
    color:#FFFFFF;
    border:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.instance:hover {
  box-shadow:  0px 2px rgba(0, 0, 0, 0.5);
  outline:  1px solid $bec8d2;
}

.instance:active {
  box-shadow:  inset 0 0 1px $bec8d2;
}

.searchDialog {
        .searchPage {
        position:fixed;
        padding:0;
        margin:0;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:#273142;
        opacity:0.95;
        z-index:5;
        .back {
            width:24px;
            height:24px;
            margin-top:20px;
            margin-left:20px;
            margin-bottom:48px;
            background-image:url("../../assets/icons/btn_back_normal.png");
        }

        .query {
            margin-top:24px;
            margin-bottom:48px;
            margin-left:40px;
            height:24px;
            width:540px;
            .searchIcon {
                height:24px;
                width:24px;
                background-color:#273142;
                background-image:url("../../assets/icons/btn_search_white_normal.png");
                display:inline-block;
            }
            input {
                height:24px;
                width:376px;
                color:#00c9ff;
                font-size:16px;
                font-family:Consolas;
                font-style:Italic;
                outline:none;
                border:0px;
                vertical-align:top;
                background-color:#273142;
                margin-right:16px;
            }
            button {
                display:inline-block;
                width:110px;
                height:24px;
                background-color:#00c9ff;
                color:#fff;
                text-align:center;
                font-style:normal;
                cursor:pointer;
                font-family:Consolas;
                vertical-align:top;
                text-align:center;
                line-height:24px;
                border:none;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #fff;
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: #fff;
            }


        }
        .filterOptions {
            font-family:Consolas;
            font-size:16px;
            font-style:Italic;
            color:#FFFFFF;
            height:24px;
            margin-left:30px;
            margin-right:30px;
            margin-bottom:48px;
            padding-left:28px;
            border-bottom: 2px solid #BEC8D2;
        }
        .date {
            font-style:Italic;
            font-size:16px;
            font-family:Consolas;
            margin-left:106px;
            margin-bottom:24px;
            color:#FFFFFF;
            .timeSpan {
                display:flex;
                flex-direction:row;
                font-size:13px;
                color:#BEC8D2;
                div {
                    height:24px;
                    line-height:24px;
                    input[type=checkbox] + label , input[type=radio] + label {
                        margin-left:16px;
                        margin-right:24px;
                    }
                }
            }
            input {
               outline:none;
               background-color:#273142; 
               font-style:Italic;
               font-family:Consolas;
               border-style:none;
               font-size:13px;
               color:#BEC8D2;
            }
            input::-webkit-inner-spin-button{
                display: none;
            }
            input::-webkit-clear-button {
                display: none;
            }
        }
        .status {
            font-style:Italic;
            font-size:16px;
            font-family:Consolas;
            margin-left:106px;
            color:#FFFFFF;
            .statusOption {
                display:flex;
                flex-direction:row;
                font-size:13px;
                color:#BEC8D2;
                div {
                    height:24px;
                    line-height:24px;
                    input[type=checkbox] + label , input[type=radio] + label {
                        margin-left:16px;
                        margin-right:24px;
                    }
                }
            }
        }
    }
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    background:url("../../assets/icons/radio_off_normal.png") no-repeat;
    height:24px;
    width:24px;
    padding: 0 0 0 0px;
    display:inline-block;
    &:hover {
          background:url("../../assets/icons/radio_off_hover.png") no-repeat;
    }
}

input[type="radio"]:checked + label  {
    background:url("../../assets/icons/radio_on_normal.png") no-repeat;
    height:24px;
    width:24px;
    padding: 0 0 0 0px;
    display:inline-block;
    &:hover {
          background:url("../../assets/icons/radio_on_hover.png") no-repeat;
    }
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background:url("../../assets/icons/checkbox_off_normal.png") no-repeat;
    height:24px;
    width:24px;
    padding: 0 0 0 0px;
    display:inline-block;
    &:hover {
          background:url("../../assets/icons/checkbox_off_hover.png") no-repeat;
    }
}
input[type=checkbox]:checked + label {
    background:url("../../assets/icons/checkbox_on_normal.png") no-repeat;
    height:24px;
    width:24px;
    padding: 0 0 0 0px;
    display:inline-block;
    &:hover {
          background:url("../../assets/icons/checkbox_on_hover.png") no-repeat;
    }
}


