<div class="overview" #groups_container>
        <div class="searchInput">
            <input type="text" name="searchJobs" placeholder="Search for jobs"> 
        </div>
        <aethic-accordion>
            <aethic-accordion-group heading="{{group.name}}" (onExpandGroup)="onExpandGroup($event, group)" 
                                    *ngFor="let group of groups | async; let i = index;">
                <div class="instances" >
                    <div class="instance" *ngFor="let runningJob of group.jobs | async" 
                         routerLink="../detailview" [queryParams]="{jobId: runningJob.id, groupId: group.name}" >
                        <p class="instanceName">{{runningJob.uniqueidentifier}}</p>
                        <overview-chart [slices] ="runningJob.slices"></overview-chart>
                    <p class="timeElapsed">{{runningJob.createdDate}}</p>
                    </div>
                </div>
                <div>
                    <input type="hidden" #batch [ngModel]="group.loadedBatches | async">
                    <button (click)="onGetMore(group, batch.value)" 
                            [hidden]="batch.value === 0" 
                            class="loadMore">Load more</button>
                </div>
            </aethic-accordion-group>
        </aethic-accordion>
</div>
