<div class="overview" #groups_container>
        <aethic-accordion>
            <aethic-accordion-group heading="{{group.name}}" (onExpandGroup)="onExapandGroup($event, group)" 
                                    *ngFor="let group of groups | async; let i = index;">
                <div class="instances" >
                    <div class="instance" *ngFor="let runningJob of group.jobs | async" 
                         routerLink="../detailview/{{runningJob.id}}"  >
                        <p class="instanceName">{{runningJob.uniqueidentifier}}</p>
                        <overview-chart [slices] ="runningJob.slices"></overview-chart>
                        <p class="timeElapsed">{{runningJob.createdDate}}</p>
                    </div>
                    <div>
                        <button (click)="onGetMore(group)" class="loadMore">Load more</button>
                    </div>
                </div>
            </aethic-accordion-group>
        </aethic-accordion>
</div>
