<div class="searchInput">
    <span></span>
    <input type="text" name="searchJobs" placeholder="Search for jobs"> 
</div>
<div class="searchPage">
    <div class="back"></div>
    <div class= "query">
         <span></span>
         <input type="text" name="queryInput" placeholder="Enter query"> 
         <button class="searchButton">Search</button>
    </div>
    <div class="filterOptions">filter options</div>
    <div class="date">
        <div class="dateLabel">date</div>
        <div class="timeSpan">
            <span>·  all time</span>
              <input  type="radio" value="output" id="postInput01"  name="inputType" formControlName="inputType"> 
              <label for="postInput01"></label>

			  <input  type="date"  formControlName="publicationDate" >
              <span>-</span>
			  <input  type="date"  formControlName="publicationDate" >
              <input  type="radio" value="mosquads" id="postInput02" name="inputType" formControlName="inputType" disabled>
              <label for="postInput02"></label>
        </div>
    </div>
    <div class="status">
        <div class="statusLabel">status</div>
        <div class="statusOption"></div>
    </div>
</div>
