.searchInput {
    width:980px;
    margin-top:24px;
    margin-bottom:24px;
    margin-left:auto;
    margin-right:auto;
    input {
        color:black;
        font-size:16px;
        height:24px;
        font-family:Consolas;
        font-style:Italic;
        outline:none;
        border:0px;
    }
}

