<div class="createContainer">

    <div class="header">
        <div class="title">Add a new job</div>
        <div class="cancel" routerLink="../overview"  >Finish</div> 
    </div>

       <div class="content">

             <div class="leftOptions">
                 <div class="title">Select a job type</div>
                 <ul #items >
                     <li  *ngFor="let jobType of jobTypesList; let i=index" class="items" (click) = "SelectJob(jobType, $event)">
                         <span>0{{i+1}}</span>{{jobType}}
                     </li>
                 </ul>
             </div>


             <div class="switch" [ngSwitch]="selectedJobType" >

<!-- Start of Depth Generation Template -->
                <form [formGroup] = "depthGenerationForm" (ngSubmit)="onSubmit(depthGenerationForm.value)">
                     <div class="rightOptions"  *ngSwitchCase="'Depth Generation'">
                        <div class="title">Fill in the blanks</div>
                        <div class= "rightContent"> 

                           <div class="label" >City</div>
 						   <input  type="text" placeholder="Enter city name" formControlName="city">

                           <div class="label">Publication Date</div>
                           <input  type="date" class="date" formControlName="publicationDate">

                           <div class="label">Validation Type</div>
                           <select  class="select" formControlName="validationType">
                             <option>validatePanoCount</option>
                           </select>

                           <div class="label">Submission Type</div>
                           <select class="select" formControlName="submissionType">
                             <option value="" selected disabled>Select</option>
                             <option >full</option>
                             <option >noaissubmit</option>
                           </select>

                           <div class="label">Input Type</div>
                             <div class="inputTypes">
                                 <div class="inputOption">Mosquads</div>
                             </div>


                           <div id="input" class="label">Input</div>
                           <textarea  placeholder="Enter drive here" formControlName="input">  </textarea>            
                           <div *ngIf="depthGenerationForm.controls['input'].hasError('emptyLine')" class="alert alert-danger" >Please remove empty lines.</div>
                           <div *ngIf="depthGenerationForm.controls['input'].hasError('whitespace')" class="alert alert-danger" >Please remove all whitespaces. </div>
                           <div *ngIf="depthGenerationForm.controls['input'].hasError('mosquadId')" class="alert alert-danger" >Please follow mosquadId format. </div>
                        </div> 
                        <button type="submit" [disabled]="!depthGenerationForm.valid">Submit</button>

                 </div>
             </form>
<!-- End of Depth Generation Template -->


<!-- Start of PostIngest Template -->
                <form [formGroup] ="postIngestForm" (ngSubmit)="onSubmit(postIngestForm.value)">
                     <div class="rightOptions" *ngSwitchCase="'PostIngest Depth Statistics'" >

                           <div class="title">Fill in the blanks</div>

                        <div class= "rightContent"> 

                           <div class="label">Publication Date</div>
                           <input  type="date" formControlName="publicationDate">

                           <div  class="label">Environment</div>
                           <select class="select" formControlName="environment">
                             <option value="" selected disabled>Select</option>
                             <option >dev</option>
                             <option >stage</option>
                             <option >stable</option>
                           </select>

                           <div class="label">Input Type</div>
                           <div class="inputTypes">
                               <div class="inputOption">Job output</div>
                               <div class="inputLabel">
                                 <input  type="radio" value="output" id="postInput01"  name="inputType" formControlName="inputType"> 
                                 <label for="postInput01"></label>
                               </div>

                               <div class="inputOption">Mosquads</div>
                               <div class="inputLabel">
                                 <input  type="radio" value="mosquads" id="postInput02" name="inputType" formControlName="inputType">
                                 <label for="postInput02"></label>
                               </div>
                           </div>
                           <div class="inputArea" *ngIf="postIngestForm.controls.inputType.value == 'output'">
                               <select class="select">
                                   <option value="" selected disabled>Select</option>
                               </select>
                           </div>
                           <div class="inputArea" *ngIf="postIngestForm.controls.inputType.value == 'mosquads'">
                              <mosquads-inputs></mosquads-inputs>
                              <!--<div class="inputs">
                                 <div class="errorCheck">
                                     <ul>
                                         <li>1</li>
                                     </ul>
                                 </div>
                                 <div>
                                     <textarea  placeholder="Enter mosquads here" formControlName="input" (keyup)="highlightError($event)">  </textarea>            
                                 </div>
                              </div>
                              <div *ngIf="postIngestForm.controls['input'].hasError('emptyLine')" class="alert alert-danger" >Please remove empty lines.</div>
                              <div *ngIf="postIngestForm.controls['input'].hasError('whitespace')" class="alert alert-danger" >Please remove all whitespaces. </div>
                              <div *ngIf="postIngestForm.controls['input'].hasError('postIngest')" class="alert alert-danger" >Please follow post_IngestId format. </div>-->
                           </div>
                        </div>
                        <button type="submit" [disabled]="!postIngestForm.valid">Submit</button>
                     </div>
               </form>
<!-- End of PostIngest Template -->

<!-- Start of CSV Template -->
                <form [formGroup] ="coverageCsvForm" (ngSubmit)="onSubmit(coverageCsvForm.value)">
                     <div class="rightOptions" *ngSwitchCase="'Coverage CSV Generation'" >
                       <div class="title">Fill in the blanks</div>
                        <div class= "rightContent"> 

                           <div class="label">City</div>
						   <input  type="text" placeholder="Enter city name" class="form-control" formControlName="city">

                           <div class="label">Publication Date</div>
						   <input  type="date"  formControlName="publicationDate" >

                           <div  class="label">Environment</div>
						   <select  class="select" formControlName="environment" >
                             <option value="" selected disabled>Select</option>
                             <option >dev</option>
                             <option >stage</option>
                             <option >stable</option>
                           </select>

                           <div class="label">Input Type</div>
                             <div class="inputTypes">

                                 <div class="inputOption">Job output</div>
                                 <div class="inputLabel">
                                        <input  type="radio" value="output" id="csvInput01" name="inputType" formControlName="inputType"> 
                                        <label for="csvInput01"></label>
                                 </div>

                                 <div class="inputOption">Mosquads</div>
                                 <div class="inputLabel">
                                        <input  type="radio" value="mosquads" id="csvInput02" name="inputType" formControlName="inputType">
                                        <label for="csvInput02"></label>
                                 </div>
                            </div>
                           <div class="inputArea" *ngIf="coverageCsvForm.controls.inputType.value == 'output'" >
                                <select class="select">
                                  <option value="" selected disabled>Select</option>
                                </select>
                            </div>
                           <div class="inputArea" *ngIf="coverageCsvForm.controls.inputType.value == 'mosquads'">
                               <mosquads-inputs></mosquads-inputs>
                               <!--  <textarea  placeholder="Enter mosquads here" formControlName="input">  </textarea>            
                               <div *ngIf="coverageCsvForm.controls['input'].hasError('emptyLine')" class="alert alert-danger" >Please remove empty lines.</div>
                               <div *ngIf="coverageCsvForm.controls['input'].hasError('whitespace')" class="alert alert-danger" >Please remove all whitespaces. </div>
                               <div *ngIf="coverageCsvForm.controls['input'].hasError('mosquadId')" class="alert alert-danger" >Please follow mosquadId format. </div>-->
                            </div>
                        </div>
                        <button type="submit" [disabled]="!coverageCsvForm.valid">Submit</button>
                     </div>
               </form>
<!-- End of CSV Template -->




<!-- Start of PreIngest Template 
                <form [formGroup] ="preIngestForm" (ngSubmit)="onSubmit(preIngestForm.value)">
                      <div class="rightOptions" *ngSwitchCase="'PreIngest'" >

                        <div class="title">Fill in the blanks</div>

                        <div class= "rightContent"> 

                           <div class="label">City</div>
                           <span class="dot">•</span>
						   <input  type="text" placeholder="Enter city name" class="form-control" formControlName="city">

                           <div class="label">Publication Date</div>
                           <span class="dot">•</span>
                           <input  type="date"  formControlName="publicationDate">

                           <div  class="label">Environment</div>
                           <span class="dot">•</span>
                           <select  class="select" formControlName="environment">
                             <option selected >dev</option>
                           </select>

                           <div class="label">Input Type</div>
                           <span class="dot">•</span>
                           <select class="select" formControlName="inputType">
                             <option selected>mosquads</option>
                           </select>

                           <div id="input" class="label">Input</div>
                           <textarea  placeholder="Enter mosquads here" formControlName="input">  </textarea>            
                           <div *ngIf="preIngestForm.controls['input'].hasError('emptyLine')" class="alert alert-danger" >Please remove empty lines.</div>
                           <div *ngIf="preIngestForm.controls['input'].hasError('whitespace')" class="alert alert-danger" >Please remove all whitespaces. </div>
                           <div *ngIf="preIngestForm.controls['input'].hasError('mosquadId')" class="alert alert-danger" >Please follow mosquadId format. </div>
                           <div class="message">(A CoverageCSV will automatically be generated upon submission.)</div>
                        </div>
                        <button type="submit" [disabled]="!preIngestForm.valid">Submit</button>
                     </div>
               </form>
 End of PreIngest Template -->



<!-- Start of Filter Service Template -->
                <form [formGroup] ="filterServiceForm" (ngSubmit)="onSubmit(filterServiceForm.value)">
                      <div class="rightOptions" *ngSwitchCase="'Filter Service'" >

                        <div class="title">Fill in the blanks</div>

                        <div class= "rightContent"> 
                               <div class="label">Preset</div>
                               <select class="select" formControlName="preset">
                                 <option value="" selected disabled>none</option>
                               </select>

                               <div class="label">Instance label</div>
                               <input  type="text" placeholder="Enter label" class="form-control" formControlName="instanceLabel">

                               <div class="label">Publication Date</div>
                               <input  type="date" formControlName="publicationDate">

                               <div class="label">Area of interest</div>
                                    <div class="inputTypes">

                                                <div class="inputOption">Bounding Box</div>
                                                <div class="inputLabel">
                                                       <input  type="radio" value="Bounding Box" class="filterRadio" name="areaOfInterest"> 
                                                       <label for="areaOfInterest"></label>
                                                </div>

                                                <div class="inputOption">Tile Coordinates</div>
                                                <div class="inputLabel">
                                                       <input  
                                                            type="radio" value="Tile Coordinates" name="areaOfInterest" class="filterRadio">
                                                       <label for="areaOfInterest"></label>
                                                </div>

                                                <div class="inputOption">Mosquads</div>
                                                <div class="inputLabel">
                                                       <input  type="radio" value="mosquads" name="areaOfInterest" class="filterRadio">
                                                       <label for="areaOfInterest"></label>
                                                </div>
                                    </div>


                               <textarea class= "CSVtextarea" rows="144"  placeholder="Enter input here" required formControlName="input">  </textarea>            
                               <!--
                               <div *ngIf="filterServiceForm.controls['input'].hasError('emptyLine')" class="alert alert-danger" >Please remove empty lines.</div>
                               <div *ngIf="filterServiceForm.controls['input'].hasError('whitespace')" class="alert alert-danger" >Please remove all whitespaces. </div>
                               <div *ngIf="filterServiceForm.controls['input'].hasError('mosquadId')" class="alert alert-danger" >Please follow mosquadId format. </div>
                               -->

                               <div class="label">Drive type</div>
                                   <div class="driveCheckboxs" > 

                                         <div class="driveLabel">First Gen</div>
                                            <div class="driveCheckbox"> 
                                                <input  type="checkbox" 
                                                        name="firstGenDriveType"  
                                                        value="FIRSTGEN"
                                                        checked id="firstGen"  
                                                        class="filterCheckbox" 
                                                        formControlName="firstGenDriveType">
                                                <label for="firstGen"></label>
                                            </div>
                                         <div class="driveLabel">TRUE 1.O</div>
                                                <div class="driveCheckbox">
                                                    <input  type="checkbox" 
                                                            name="true1DriveType" 
                                                            value="TRUE1" id="true1" 
                                                            class="filterCheckbox" 
                                                            formControlName="true1DriveType">
                                                    <label for="true1"></label>
                                                </div>
                                         <div class="driveLabel">HERE TRUE</div>
                                                <div class="driveCheckbox"> 
                                                    <input  type="checkbox" 
                                                            name="hereTrueDriveType" 
                                                            value="HERETRUE"
                                                            id="hereTrue" 
                                                            class="filterCheckbox" 
                                                            formControlName="hereTrueDriveType">
                                                    <label for="hereTrue"></label>
                                                </div>
                                   </div> 

                               <div class="driveDates">
                                   <div class = "startDate">
                                         <div class="label">Drive Start date</div>
                                         <input  type="date" formControlName="driveStartDate">
                                   </div>

                                   <div class = "endDate">
                                         <div class="label">Drive End date</div>
                                         <input type="date" formControlName="driveEndDate">
                                   </div>
                               </div>

                               <div class="label">Quality filters</div>
                               <table class="qualityFilter" formArrayName="filterList">
                                   <tr>
                                       <th class = "provider">provider</th>
                                       <th class = "attribute">attribute</th>
                                       <th class = "quality">quality prioritisation</th>
                                       <th class = "weight">weight</th>
                                       <th class = "delete"></th>
                                   </tr>

                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td class="secondRow">
                                           <div class="low">low</div>
                                           <div class="medium">medium</div>
                                           <div class="high">high</div>
                                       </td>
                                       <td>
                                           <div class="weightLabel">in %</div>
                                       </td>
                                       <td></td>
                                   </tr>

                                   <tr *ngFor="let item of filterList; let idx = index" formGroupName="{{idx}}"> 
                                       <td>
                                           <select class="providerSelect"  required 
                                               formControlName="provider">
                                                  <option value="" selected disabled>Select</option>
                                                  <option >RCP</option>
                                         </select>
                                       </td>
                                       <td>
                                           <select class="attributeSelect"  required 
                                               formControlName="attributeTypes">
                                                  <option value="" selected disabled>Select</option>
                                                  <option *ngFor="let attributeType of attributeTypes" >{{attributeType}}</option>
                                         </select>
                                       </td>
                                       <td>
                                           <div>
                                               <!-- Start of Slider Component-->

                                               <ng2-slider
                                                         #range
                                                         min="0"
                                                         max="100"
                                                         middleValue="67"
                                                         [startValue]="item.filterInputLow"
                                                         [midValue]="item.filterInputMedium"
                                                         [endValue]="item.filterInputHigh"
                                                         (onRangeChanged)="rangeValueChanged($event, idx)">
                                                </ng2-slider>
                                                <!-- End of Slider Component -->
                                           </div>
                                       </td>
                                       <td class="weightInputTd">
                                           <input type="number" class="weightInput" 
                                                                name="weight"
                                                                formControlName="weight" 
                                                                min="0" 
                                                                max="100" 
                                                                [value]="item.weight">
                                       </td>
                                       <td >
                                           <div class="deleteFilter" (click) = "deleteFilter(idx)"></div>
                                       </td>
                                   </tr> 
                               </table>
                               
                       <div class="addFilter">
                            <div class="addButton" (click) = "addFilter(true)"></div>
                            <div class="addMessage">add a new quality filter</div>
                       </div>

                       <div class="label">Quality threshold (in %)</div>
                           <input  type="number" min="0" max="100" placeholder="Enter minimum quality requirement (in %)" class="qualityThreshold" formControlName="qualityThreshold">

                     <div class="preset" >
                         <div class="presetLable">Save as preset</div>
                         <div class="presetCheckbox">
                             <input type="checkbox" class="presetFilter" id="saveAsPreset" formControlName="saveAsPreset">
                             <label for="saveAsPreset"></label><br/>
                         </div>
                    </div>

                     
                    <input  type="text" placeholder="Enter preset label" class="form-control" formControlName="presetLabel">
                    </div>
                    <button type="submit" >Submit</button>
                </div>
            </form>
<!-- End of Filter Service Template -->



<!-- Start Default -->
                     <div class="rightOptions"  *ngSwitchCase="'Default'">
                           <div class="title">Fill in the blanks</div>
                           <div class="default">Pick a job from the list to proceed</div>
                     </div>
<!-- End Default -->

            </div>
         </div>
</div>
